# Exploratory Data Analysis (EDA)

## Import Dependenices and Custom Modules

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from scripts.data_loader import DataLoader
from scripts.data_analysis import DataAnalysis
from scripts.data_visualize import DataVisualize

In [23]:
# Loads a dataset from a text file and saves it as a CSV file.
dataLoader = DataLoader()
df = dataLoader.load_csv('../data/cleaned/ProcessedMachineLearningRating_v3.csv')

dataAnalysis = DataAnalysis(df)
dataVisualize = DataVisualize(df)

g:\KAIM\week3\insurance-risk-analytics-week3\scripts\data_loader.py:32: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path)

Loaded data from ../data/cleaned/ProcessedMachineLearningRating_v3.csv

## Data Analysis

### Columns about the client

In [24]:
# List the columns overview for client information
client_columns = [ 'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender']

In [25]:
# Fill '  ' values in 'Citizenship' with 'Not specified'
df.loc[(df['Citizenship'] == '  '), 'Citizenship'] = 'Not specified'

In [26]:
# Drop a column from the DataFrame since it has same value
df = dataAnalysis.drop_columns('Language')

In [27]:
# Fill missing values in 'Bank' &  'AccountType' with 'Not specified'
dataAnalysis.fill_with_not_specified('Bank')
print(f"Remaining missing bank values: {dataAnalysis.calculate_missing_value('Bank')}")

dataAnalysis.fill_with_not_specified('AccountType')
print(f"Remaining missing bank values: {dataAnalysis.calculate_missing_value('AccountType')}")

Remaining missing bank values: 0
Remaining missing bank values: 0

In [28]:
# Define title-maritalStatus mappings
title_maritalStatus_map = {
    'Mrs': 'Married',
    'Miss': 'Single'
}

missing_before = dataAnalysis.calculate_missing_value('MaritalStatus')
not_specified_before = dataAnalysis.length_column_value('MaritalStatus', 'Not specified')

# Apply mappings where Gender is missing/unspecified
for title, maritalStatus in title_maritalStatus_map.items():
    df.loc[(df['Title'] == title) & 
           (df['MaritalStatus'].isna() | (df['MaritalStatus'] == 'Not specified')), 
           'MaritalStatus'] = maritalStatus
    
    
missing_after = dataAnalysis.calculate_missing_value('MaritalStatus')
not_specified_after = dataAnalysis.length_column_value('MaritalStatus', 'Not specified')

print(f"Filled {missing_before - missing_after} missing maritalStatus values")
print(f"Filled {not_specified_before - not_specified_after} Not specified maritalStatus values")

# Fill remaining missing values in 'MaritalStatus' with 'Not specified'
dataAnalysis.fill_with_not_specified('MaritalStatus')

missing_after_filling = dataAnalysis.calculate_missing_value('MaritalStatus')
print(f"Filled {missing_after} missing maritalStatus values")
print(f"Remaining missing maritalStatus values: {missing_after_filling}")

Filled 0 missing maritalStatus values
Filled 51740 Not specified maritalStatus values
Filled 8259 missing maritalStatus values
Remaining missing maritalStatus values: 0

In [29]:
# Define title-gender mappings
title_gender_map = {
    'Mr': 'Male',
    'Mrs': 'Female',
    'Miss': 'Female',
    'Ms': 'Female'
}

missing_before = dataAnalysis.calculate_missing_value('Gender')
not_specified_before = dataAnalysis.length_column_value('Gender', 'Not specified')

# Apply mappings where Gender is missing/unspecified
for title, gender in title_gender_map.items():
    df.loc[(df['Title'] == title) & 
           (df['Gender'].isna() | (df['Gender'] == 'Not specified')), 
           'Gender'] = gender
    
missing_after = dataAnalysis.calculate_missing_value('Gender')
not_specified_after = dataAnalysis.length_column_value('Gender', 'Not specified')


print(f"Filled {missing_before - missing_after} missing gender values")
print(f"Filled {not_specified_before - not_specified_after} Not specified gender values")
print(f"Remaining missing gender values: {missing_after}")

Filled 9536 missing gender values
Filled 940180 Not specified gender values
Remaining missing gender values: 0

The **Client Information** columns are IsVATRegistered, Citizenship, LegalType, Title, Language,
       Bank, AccountType, MaritalStatus and Gender.
- **Citizenship**: '  ' filled with 'Not specified'
- **Language**: Dropped because it has the same value which is English.
- **AccountType**: Filled missing values with 'Not specified'
- **MaritalStatus**: Filled title with Mrs by Married and Miss by single and missing values with 'Not specified'
- **Gender**: Filled title with Mrs, Miss, Mr by Female and Mr by Male

### Client Location

In [30]:
# List the columns overview for client location information
client_location_columns = [ 'Country', 'Province', 'PostalCode', 'MainCrestaZone', 'SubCrestaZone']

In [31]:
# Drop a column from the DataFrame since it has same value
df = dataAnalysis.drop_columns('Country')

The **Client Location** columns are 'Country', 'Province', 'PostalCode', 'MainCrestaZone' and 'SubCrestaZone'.
- **Country**: column was dropped because it has one unique value South Africa with **1** unique values so it was dropped.

### Car Insured

In [32]:
# List the columns overview for  car insured information
car_insured_columns1 = [ 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors']

In [33]:
df = dataAnalysis.drop_columns('ItemType')

In [34]:
# Remove any trailing space
df['make'] = df['make'].str.strip()
df['Model'] = df['Model'].str.strip()

df['make'].unique()

array(['MERCEDES-BENZ', 'VOLKSWAGEN', 'RENAULT', 'FORD', 'BMW', 'AUDI',
       'VOLVO', 'PROTON', 'TOYOTA', 'NISSAN/DATSUN', 'CMC', 'C.A.M',
       'POLARSUN', 'NISSAN', 'IVECO', 'FIAT', 'JINBEI', 'HYUNDAI',
       'GOLDEN JOURNEY', 'KIA', 'MITSUBISHI', 'TATA', 'MAZDA', 'CITROEN',
       'FOTON', 'B.A.W', 'PEUGEOT', 'SUZUKI', 'CHERY', 'SAIC', 'JMC',
       'HINO', 'HONDA', 'CHEVROLET', nan, 'OPEL', 'MAHINDRA', 'DAIHATSU',
       'GEELY', 'SCANIA', 'LEXUS', 'HUMMER', 'MARCOPOLO'], dtype=object)

In [35]:
cols_552 = [
    'mmcode', 'VehicleType', 'make', 'Model', 'Cylinders',
    'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate'
]

# Check if the same rows are missing
missing_together = df[cols_552].isnull().all(axis=1)
print("Number of rows with all 552-value columns missing:", missing_together.sum())

# Drop if there is any missing value
df = df.dropna(subset=cols_552)

Number of rows with all 552-value columns missing: 552

Half **Car Issued** columns are ''ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors', and 'VehicleIntroDate'.
- **ItemType**: Dropped due to having one unique value.
- **make**: Removed trailing space.
- Droped rows which have  **552 missing values** in the same row because vechicle information is important.

In [36]:
# List the columns overview for  car insured information
car_insured_columns2 = [ 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet']

In [37]:
df['CustomValueEstimate'].fillna(df['CustomValueEstimate'].median(), inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_23760\1473961367.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CustomValueEstimate'].fillna(df['CustomValueEstimate'].median(), inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_23760\1473961367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CustomValueEstimate'].fillna(df['CustomValueEstimate'].median(), inplace=True)

In [44]:
# First convert all to string (to safely apply str.replace)
df['CapitalOutstanding'] = df['CapitalOutstanding'].astype(str)

# Replace comma with dot
df['CapitalOutstanding'] = df['CapitalOutstanding'].str.replace(',', '.')

# Convert to numeric, coercing errors to NaN
df['CapitalOutstanding'] = pd.to_numeric(df['CapitalOutstanding'], errors='coerce')

df['CapitalOutstanding'].fillna(df['CapitalOutstanding'].median(), inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_23760\3051236007.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CapitalOutstanding'].fillna(df['CapitalOutstanding'].median(), inplace=True)

In [39]:
df[['NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted']] = df[['NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted']].fillna('Not specified')

C:\Users\user\AppData\Local\Temp\ipykernel_23760\2847392597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted']] = df[['NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted']].fillna('Not specified')

In [40]:
# Drop a column from the DataFrame since it has nearly no value and no value
df = dataAnalysis.drop_columns(['CrossBorder', 'NumberOfVehiclesInFleet'])

In [41]:
# Drop a column from the DataFrame since it has single value
df = dataAnalysis.drop_columns(['TermFrequency', 'StatutoryClass', 'StatutoryRiskType'])

In [42]:
# Save processed data to csv
csvfile = '../data/cleaned/CleanedMachineLearningRating_v3.csv'

df.to_csv(csvfile, index=False)
print(f"Data saved as {csvfile}")

Data saved as ../data/cleaned/CleanedMachineLearningRating_v3.csv

## Describe the data

In [43]:
# Describe numerical data
numerical_features = ['TotalPremium', 'TotalClaim', 'SumInsured', 'CalculatedPremiumPerTerm',
       'Cylinders',  'cubiccapacity', 'kilowatts',  'NumberOfDoors', 'CustomValueEstimate', 'CapitalOutstanding']


for col in numerical_features:
    print(dataAnalysis.describe_data(col))

count    1.000098e+06
mean     6.190550e+01
std      2.302845e+02
min     -7.825768e+02
25%      0.000000e+00
50%      2.178333e+00
75%      2.192982e+01
max      6.528260e+04
Name: TotalPremium, dtype: float64
0
count    1.000098e+06
mean     6.041727e+05
std      1.508332e+06
min      1.000000e-02
25%      5.000000e+03
50%      7.500000e+03
75%      2.500000e+05
max      1.263620e+07
Name: SumInsured, dtype: float64
count    1.000098e+06
mean     1.178757e+02
std      3.997017e+02
min      0.000000e+00
25%      3.224800e+00
50%      8.436900e+00
75%      9.000000e+01
max      7.442217e+04
Name: CalculatedPremiumPerTerm, dtype: float64
count    999546.000000
mean          4.046642
std           0.294020
min           0.000000
25%           4.000000
50%           4.000000
75%           4.000000
max          10.000000
Name: Cylinders, dtype: float64
count    999546.000000
mean       2466.743258
std         442.800640
min           0.000000
25%        2237.000000
50%        2694.000000
75%        2694.000000
max       12880.000000
Name: cubiccapacity, dtype: float64
count    999546.000000
mean         97.207919
std          19.393256
min           0.000000
25%          75.000000
50%         111.000000
75%         111.000000
max         309.000000
Name: kilowatts, dtype: float64
count    999546.000000
mean          4.019250
std           0.468314
min           0.000000
25%           4.000000
50%           4.000000
75%           4.000000
max           6.000000
Name: NumberOfDoors, dtype: float64
count    2.204560e+05
mean     2.255311e+05
std      5.645157e+05
min      2.000000e+04
25%      1.350000e+05
50%      2.200000e+05
75%      2.800000e+05
max      2.655000e+07
Name: CustomValueEstimate, dtype: float64
count     1000096
unique       1011
top             0
freq       665918
Name: CapitalOutstanding, dtype: int64